# development - local
# staging - digital ocean
ENVIRONMENT=development

PORT=3000

# Development DB url
DATABASE_URL=postgresql://wordmemo:wordmemo@localhost:5432/wordmemo?schema=public

# Digital Ocean postgress:
DATABASE_URL=""
DATABASE_SSL_CA_B64=""

# Development only (must match DATABASE_URL)
DATABASE_USER=wordmemo
DATABASE_PASSWORD=wordmemo
DATABASE_NAME=wordmemo
DATABASE_PORT=5432

# JWT
JWT_ACCESS_SECRET=dev-access-secret-change-in-production-32
JWT_ACCESS_EXPIRES_IN=1d
JWT_REFRESH_SECRET=dev-refresh-secret-change-in-production-32
JWT_REFRESH_EXPIRES_IN=30d

# Swagger Basic Auth
SWAGGER_USER=admin
SWAGGER_PASSWORD=admin
